@media screen and (max-width: 750px) {
    .task {
        background: gray;
        width: 400px;
    }
    body:checked {
        color: green;
    }
    body {
        width: 400px;
        text-align: left;
    }
}

@media screen and (min-width: 751px) {
    .task {
        background: gray;
        width: 660px;
    }
    body:checked {
        color: green;
    }
    body {
        width: 660px;
        text-align: left;
    }
}

