* {
  text-align: center;
  background-color: beige;
}

input[type=button], input[type=submit]{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  font-family: helvetica;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 #b1b2dd;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color:  #bb550842;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.btn-group button {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.buttonclass {
  padding: 15px 20pxs;
  margin: 5px 10px 5px 10px;
  border-radius: 50px;
  width: 150px;
}